.main-contact{
    overflow-x: hidden;

    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .title{
            display: flex;
            justify-content: center;
            animation-name: aparecer-cont;
            animation-duration: 1.5s;
            animation-timing-function: ease-out;
            @keyframes aparecer-cont {
                from { opacity: 0; transform: translateX(0); }
                to { opacity: 1; transform: translateY(0); }
            }

            h2{
                color: #272341;
                font-size: 2.5rem;
                text-transform: uppercase;
            }
        }

        .form{
            display: flex;
            justify-content: center;
            margin-top: 20px;

            form{
                display: flex;
                flex-direction: column;
                width: 800px;
                animation-name: aparecer-form;
                animation-duration: 1.5s;
                animation-timing-function: ease-out;
                @media (max-width: 1024px) {
                    width: 700px;
                }
                @media (max-width: 768px) {
                    width: 600px;
                }
                @media (max-width: 640px) {
                    width: 450px;
                }
                @media (max-width: 475px) {
                    width: 350px;
                }
                @media (max-width: 375px) {
                    width: 250px;
                }
                @keyframes aparecer {
                    from { opacity: 0; transform: translateX(0); }
                    to { opacity: 1; transform: translateY(0px); }
                }
                
                .inputset{
                    margin-bottom: 10px;
                    font-size: 1.1rem;
                    padding-left: 12px;
                    padding-top: 7px;
                    padding-bottom: 10px;
                    font-family: Montserrat,sans-serif;
                }

                .message{ 
                    height: 150px;
                }
            }
        }

        .button{
            display: flex;
            justify-content: center;
            animation-name: aparecer-form;
            animation-duration: 1.5s;
            animation-timing-function: ease-out;
            @keyframes aparecer-form {
                from { opacity: 0; transform: translateX(0); }
                to { opacity: 1; transform: translateY(0); }
            }

            .send{
                text-decoration: none;
                border: 2px solid;
                border-image: linear-gradient(135deg, #02aab0, #00cdac) 1;
                padding: 4px 22px;
                cursor: pointer;
                font-size: 1.5rem;
                color: #00cdac;
                margin-top: 10px;
                font-weight: 700;
            }

            .send:hover{
                color: white;
                background-image: linear-gradient(135deg, #02aab0, #00cdac);
            }
        }

    }

    .footer{
        display: flex;
        margin-top: 100px;
        background-color: #333;
        height: 225px;

        .footer-bottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .button-des{
                display: flex;
                justify-content: center;
                align-items: center;
                
                .as{
                    text-decoration: none;
                    color: white;
                    font-size: 40px;
                    justify-content: center;
                    transition: transform 0.2s ease-in-out;
                    text-decoration: none;
                }
            
                .as:hover{
                    transform: translateY(-2px);
                }
                
            }

            .icons{
                display: flex;
                justify-content: center;
                align-items: center;

                .as{
                    text-decoration: none;
                    color: white;
                    font-size: 28px;
                    padding: 8px 28px 0 28px;
                    justify-content: center;
                    transition: transform 0.2s ease-in-out;
                    text-decoration: none;
                }
            
                .as:hover{
                    transform: translateY(-2px);
                }
            }
        }
    }
}