:root{
    --color-one: #272341;
    --color-two: #888888;
    --color-three: #fff;
    --color-four: #00cdac;
    --color-five: #02aab0;
    --color-six: #000000;

    --light-weight: 200;
    --heavy-weight: 500;
    --strongth-weight: 600;
    --hard-weight: 700;

    --rootFontFamily: Montserrat,sans-serif;
}

body{
    font-family: var(--rootFontFamily);
}

.main{
    height: 789px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    
    .top{
        display: flex;
        justify-content: flex-end;
        height: 85px;
        align-items: center;
        @media (max-width: 1280px) {
            justify-content: center;
        }
        
        .link{
            padding: 28px;
            font-size: 28px;
            justify-content: center;
            transition: transform 0.2s ease-in-out;
            color: var(--color-four);
        }

        .link:hover{
            transform: translateY(-2px);
        }
    }
}

.bottom{
    width: 100%;
    height: 700px;
    display: flex;
    padding-left: 230px;
    @media (max-width: 1280px) {
        text-align: center;
        justify-content: center;
    }
    @media (max-width: 6400px) {
        padding-bottom: 158px;
    }

    .box{
        color: var(--color-one);
        display: flex;
       
        flex-direction: column;
        justify-content: center;
        @media (max-width: 1280px) {
            margin-right: 450px;
        }

        h1{
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 15px;
            opacity: 0;
            animation-delay: 0.5s;
            animation-name: aparecer-title;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;  
            @media (max-width: 640px) {
                font-size: 3.3rem;
            }
            @media (max-width: 420px) {
                font-size: 2.5rem;
            }
            @keyframes aparecer-title {
                from { opacity: 0; transform: translateX(-30px); }
                to { opacity: 1; transform: translateY(0); }
            }

            span{
                background-image: linear-gradient(135deg, var(--color-five), var(--color-four));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p{
            display: flex;
            align-items: center;
            opacity: 0;
            animation-delay: 1s;
            animation-name: aparecer-links;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            @media (max-width: 1280px) {
                justify-content: center;
                padding-right: 0px;
            }
            @media (max-width: 640px) {
                display: flex;
                flex-direction: column;
                padding-top: 50px;
            }
            @keyframes aparecer-links{
                from { opacity: 0; transform: translateY(30px); }
                to { opacity: 1; transform: translateY(0); }
            }

            .buttons{
                font-size: 1.5rem;
                font-weight: 700;
                border: 2px solid;
                border-image: linear-gradient(135deg, var(--color-five), var(--color-four)) 1;
                color: var(--color-four);
                text-decoration: none;
                padding: 4px 22px;
                cursor: pointer;
                transition: all 0.3s ease;
                @media (max-width: 640px) {
                    width: 120px;
                }
            }

            .buttons:hover{
                color: var(--color-three);
                background-image: linear-gradient(135deg, var(--color-five), var(--color-four));
            }
        }
    }
}

.languages{
    display: flex;
    margin: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-weight: 700;
    color: rgb(59, 139, 185);
    gap: 2px;
    font-size: 20px;
    z-index: 9999;

    .english:hover{
        opacity: 0.7;
    }

    .spanish:hover{
        opacity: 0.7;
    }
}