.main-projects{
    
    width: 100%;
    height: 1050px;
    display: flex;
    flex-direction: column;
    @media (max-width: 640px) {
        height: 1700px;
    }
    @media (max-width: 375px) {
        margin-right: 100px;
        height: 1700px;
    }

    .top-projects{
        display: flex;
        justify-content: center;
        
        .title-projects{
            color: #272341;
            font-size: 2.5rem;
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            text-transform: uppercase;
            
            @media (max-width: 475px) {
                font-size: 1.9rem;
                
            }
        }
    }

    
        
    .first-project{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: center;    
        margin: auto;
        height: 400px;
        margin-top: 5px;
        @media (max-width: 768px) {
            margin-left: 0px;
        }
        @media (max-width: 640px) {
            flex-direction: column;
            height: 800px;
            width: 100%;
        }
        @media (max-width: 475px) {
            flex-direction: column;
            height: 800px;
            align-items: center;
            margin: 0;
        }
            
        .right{
            display: flex;
            width: 60%; 
        }

        .left{
            display: flex;
            width: 40%;
            flex-direction: column;
            margin-right: 40px;
            @media (max-width: 1024px) {
                margin-right: 90px;
            }
            @media (max-width: 768px) {
                margin-left: 100px;
            }
            @media (max-width: 640px) {
                width: 90%;
                margin-bottom: 85px;
                margin-left: 45px;
                
            }
            @media (max-width: 512px) {
                margin-bottom: 70px;
                width: 100%;
                margin-left: 0px;
            }
            @media (max-width: 475px) {
                margin-bottom: 90px;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            @media (max-width: 425px) {
                margin-bottom: 90px;
            }
            @media (max-width: 375px) {
                margin-bottom: 90px;
            }
            @media (max-width: 320px) {
                margin-bottom: 130px;
            }
            .title-left{
                
                margin-top: 0;
                font-size: 1.7rem;
                padding-bottom: 12px;
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                height: 0;
                font-weight: 500;
                @media (max-width: 640px) {
                    
                }
                @media (max-width: 512px) {
                    
                    
                }
                @media (max-width: 475px) {
                    
                }
                @media (max-width: 425px) {
                    
                }
                @media (max-width: 375px) {
                    
                    
                }
                @media (max-width: 320px) {
                    
                }
            }

            .left-recipe{
                
                @media (max-width: 512px) {
                    
                    
                    
                }
                @media (max-width: 475px) {
                    
                    font-size: 1.5rem;
                    
                }
                @media (max-width: 425px) {
                    
                    font-size: 1.5rem;
                }
                @media (max-width: 375px) {
                    
                }
            }

            .left-name{
                @media (max-width: 640px) {
                    
                }
                @media (max-width: 512px) {
                    
                    font-size: 1.5rem;
                }
                @media (max-width: 475px) {
                    
                    
                }
                @media (max-width: 425px) {
                    
                }
                @media (max-width: 375px) {
                    
                }
                @media (max-width: 320px) {
                   
                    
                }
            }

            .info{
                display: flex;
                flex-direction: column;
                height: 200px;

                .tech{
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;

                    .tech-1{
                        display: flex;
                        flex-direction: row;
                        color: white;
                        font-weight: 700;
                        
                        @media (max-width: 640px) {
                            
                            
                        } 
                        @media (max-width: 512px) {
                            
                        }
                        @media (max-width: 475px) {
                            
                        }
                        @media (max-width: 425px) {
                            
                        }
                        @media (max-width: 375px) {
                            
                        }
                        @media (max-width: 320px) {
                            
                        }

                            .technologies-1{
                                font-size: 1rem;
                                border: 1px solid black;
                                width: 50px;
                                text-align: center;
                                padding: 4px;
                                margin: 2px;
                                background-color: rgba(67,85,82,.576471);
                                @media (max-width: 320px) {
                                    
                                }
                            }
                            .Ja{
                                width: 85px;
                            }
                            .technologies-2{
                                font-size: 1rem;
                                border: 1px solid black;
                                width: 45px;
                                text-align: center;
                                padding: 3px;
                                margin: 2px;
                                background-color: rgba(67,85,82,.576471);
                            }
                            
                            .technologies-3{
                                font-size: 1rem;
                                border: 1px solid black;
                                width: 115px;
                                text-align: center;
                                padding: 3px;   
                                margin: 2px;
                                background-color: rgba(67,85,82,.576471);
                            }
                            .Css{
                                width: 40px;
                            }
                            .technologies-4{
                                font-size: 1rem;
                                border: 1px solid black;
                                width: 65px;
                                text-align: center;
                                padding: 3px;
                                margin: 2px;
                                background-color: rgba(67,85,82,.576471);
                            }
                            .Strap{
                                width: 55px;
                            }
                    }

                    .tools-1{
                        
                        @media (max-width: 640px) {
                            
                        }
                        @media (max-width: 512px) {
                           
                        }
                        @media (max-width: 475px) {
                            
                        }
                        @media (max-width: 425px) {
                            
                            
                            
                        }
                        @media (max-width: 375px) {
                            
                        }
                        @media (max-width: 320px) {
                            
                        }
                    }
                    

                    .tech-2{
                        display: flex;
                        flex-direction: row;
                        color: white;
                        font-weight: 700;
                        @media (max-width: 640px) {
                            
                            
                        } 
                        @media (max-width: 512px) {
                            
                        }
                        @media (max-width: 475px) {
                           
                        }
                        @media (max-width: 425px) {
                            
                        }
                        @media (max-width: 375px) {
                            
                        }
                        @media (max-width: 320px) {
                            
                        }
                        

                        .technologies-5{
                            font-size: 1rem;
                            border: 1px solid black;
                            width: 115px;
                            text-align: center;
                            justify-content: center;
                            padding: 3px;
                            margin: 2px;
                            background-color: rgba(67,85,82,.576471);
                            @media (max-width: 320px) {
                                
                            }
                            
                        }

                        .tool{
                            @media (max-width: 640px) {
                                
                            }
                            @media (max-width: 512px) {
                                
                            }
                            @media (max-width: 475px) {
                                
                            }
                            @media (max-width: 425px) {
                                
                            }
                            @media (max-width: 375px) {
                                
                            }
                            @media (max-width: 320px) {
                                
                            }
                        }

                        .technologies-6{
                            font-size: 1rem;
                            border: 1px solid black;
                            width: 85px;
                            text-align: center;
                            justify-content: center;
                            padding: 3px;
                            margin: 2px;
                            background-color: rgba(67,85,82,.576471);
                        }
                    }
                }
                
                .desc{
                    display: flex;
                    margin-top: 15px;
                    text-align: left;
                    font-size: 17px;
                    font-weight: 200;
                    color: #272341;
                    
                    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                    @media (max-width: 640px) {
                        justify-content: center;
                        display: grid;
                        text-align: center;
                    } 

                    .desc-son{
                        @media (max-width: 768px) {
                            
                        }
                        @media (max-width: 640px) {
                            
                            
                            text-align: start;
                        } 
                        @media (max-width: 512px) {
                            
                        }
                        @media (max-width: 475px) {
                            
                            
                        }
                        
                        @media (max-width: 425px) {
                            
                        }
                        @media (max-width: 375px) {
                            
                        }
                        @media (max-width: 320px) {
                            
                        }
                    }
                }

                .note{
                    display: flex;
                    margin-top: 15px;
                    font-size: 15px;
                    font-weight: 200;
                    text-align: left;
                    color: #272341;
                    font-style: italic;
                    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                    @media (max-width: 640px) {
                        
                        display: grid;
                    } 
                    .desc-son{
                        @media (max-width: 640px) {
                            text-align: start;
                        } 
                        @media (max-width: 512px) {
                            
                        }
                        @media (max-width: 475px) {
                            
                        }
                        @media (max-width: 425px) {
                            
                        }
                        @media (max-width: 375px) {
                            
                        }
                        @media (max-width: 320px) {
                            
                        }
                    }
                }

                .buttons-projects{
                    margin-top: 15px;  
                    display: flex;
                    flex-direction: row;
                    
                    @media (max-width: 640px) {
                        
                    }
                    @media (max-width: 512px) {
                        
                    }
                    @media (max-width: 475px) {
                        
                    }
                    @media (max-width: 425px) {
                        
                    }
                    @media (max-width: 375px) {
                        
                    }
                    @media (max-width: 320px) {
                        
                    }
    
                    .but{
                        display: flex;
                        text-align: center;
                        justify-content: flex-start;
                        align-items: center;
                        
                        .res{
                            text-decoration: none;
                            width: 100px;
                            height: 30px;
                            color: #00cdac;
                            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                            text-align: center;
                            border: 2px solid;
                            border-image: linear-gradient(135deg, #02aab0, #00cdac) 1;
                            font-weight: 700;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            padding-top: 2px;
                        }
                
                        .res:hover{
                            color: white;
                            background-image: linear-gradient(135deg,#02aab0,#00cdac);
                        }

                        .res-1{
                            width: 130px;
                        }
                    }
                }
            }

        }

        .right{
            
            @media (max-width: 640px) {
                
                display: flex;
                justify-content: center;
            }
            .recipe{
                box-shadow: 5px 10px 8px 10px #888888;
                width: 600px;
                height: 350px;
                
                @media (max-width: 1280px) {
                    margin-left: 60px;
                }
                @media (max-width: 1024px) {
                    margin-right: 250px;
                    width: 460px;
                }
                @media (max-width: 768px) {
                    width: 400px;
                    height: 430px;
                    margin-left: 30px;
                    margin-top: 10px;
                }
                @media (max-width: 640px) {
                    width: 550px;
                    height: 300px;
                    margin-right: 10px;
                    margin-left: 275px;
                }
                @media (max-width: 512px) {
                    width: 505px;
                    margin-left: 215px;
                }
                @media (max-width: 475px) {
                    width: 470px;
                    margin-left: 8px;
                }
                @media (max-width: 425px) {
                    width: 420px;
                    margin-left: 8px;
                }
                @media (max-width: 375px) {
                    width: 370px;
                    margin-left: 8px;
                }
                @media (max-width: 320px) {
                    width: 315px;
                    margin-left: 8px;
                }
                
            }
            
        }

    }
}