.main-projects{
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    .top-projects{
        display: flex;
        justify-content: center;
        
        .title-projects{
            color: var(--color-one);
            font-size: 2.5rem;
            text-transform: uppercase;
            padding: 10px 0;
            opacity: 0;
            animation-name: aparecer-titleproject;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            @keyframes aparecer-titleproject {
                from { opacity: 0; transform: translateX(0px); }
                to { opacity: 1; transform: translateY(0); }
            }
            @media (max-width: 475px) {
                font-size: 2.1rem;
            }
        }
    }

    .first-project2{
        display: flex;
        width: 70%;
        justify-content: center;    
        margin: 0 auto;
        margin-bottom: 70px;
        @media (max-width: 1180px) {
            width: 80%;
        }
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        @media (max-width: 568px) {
           width: 95%; 
        }
            
        .rightEcomAble{
            display: flex;
            margin: 0 auto;
            width: 64%;
            opacity: 0;
            animation-delay: 0.5s;
            animation-name: aparecer-right;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            @keyframes aparecer-right {
                from { opacity: 0; transform: translateX(30px); }
                to { opacity: 1; transform: translateY(0); }
            }
            @media (max-width: 1024px) {
                margin-top: 50px;
                width: 90%;
            }

            .ecommerce{
                width: 100%;
                box-shadow: 5px 10px 8px 10px var(--color-two);
            }

            .ableton{
                width: 100%;
                box-shadow: 5px 10px 8px 10px var(--color-two);
            }

            .recipe{
                width: 100%;
                box-shadow: 5px 10px 8px 10px var(--color-two);
            }
        }

        .left{
            display: flex;
            width: 36%;
            flex-direction: column;
            margin-right: 40px;
            opacity: 0;
            animation-delay: 0.5s;
            animation-name: aparecer-pre;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            @keyframes aparecer-pre {
                from { opacity: 0; transform: translateX(-30px); }
                to { opacity: 1; transform: translateY(0); }
            }
            @media (max-width: 1024px) {
                width: 100%;
            }

            .title-left{
                margin-top: 0;
                font-size: 1.7rem;
                padding-bottom: 10px;
                height: 0;
                font-weight: var(--heavy-weight);
            }

            .info{
                display: flex;
                flex-direction: column;

                .tech{
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 1024px) {
                        flex-direction: row;
                    }
                    @media (max-width: 768px) {
                        flex-direction: column;
                    }

                    .tech-1{
                        display: flex;
                        flex-direction: row;
                        color: var(--color-three);
                        font-weight: var(--hard-weight);
                        flex-wrap: wrap;
                        gap: 4px;

                            .tool{
                                border: 1px solid var(--color-six);
                                text-align: center;
                                padding: 4px;
                                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
                                
                                @media (max-width: 320px) {
                                    font-size: 0.87rem;
                                }
                            }
                    }
                }
                
                .desc{
                    display: flex;
                    margin-top: 15px;
                    text-align: left;
                    font-size: 17px;
                    font-weight: var(--light-weight);
                    color: var(--color-one);
                    @media (max-width: 640px) {
                        justify-content: center;
                        display: grid;
                        text-align: center;
                    } 

                    .desc-son{
                        @media (max-width: 640px) {
                            text-align: start;
                        } 
                    }
                }

                .note{
                    display: flex;
                    margin-top: 15px;
                    font-size: 15px;
                    font-weight: var(--light-weight);
                    text-align: left;
                    color: var(--color-one);
                    font-style: italic;
                    
                    .desc-son{
                        @media (max-width: 640px) {
                            text-align: start;
                        } 
                    }
                }

                .buttons-projects{
                    margin-top: 15px;  
                    display: flex;
                    flex-direction: row;
        
                    .but{
                        display: flex;
                        text-align: center;
                        justify-content: flex-start;
                        align-items: center;
                        
                        .res{
                            text-decoration: none;
                            width: 100px;
                            height: 30px;
                            color: var(--color-four);
                            display: flex;
                            text-align: center;
                            border: 2px solid;
                            border-image: linear-gradient(135deg, var(--color-five), var(--color-four)) 1;
                            font-weight: var(--strongth-weight);
                            justify-content: center;
                            align-items: center;
                            padding: 2px 0;
                        }
                
                        .res:hover{
                            color: var(--color-three);
                            background-image: linear-gradient(135deg, var(--color-five), var(--color-four));
                        }

                        .res-1{
                            width: 130px;
                        }
                    }
                }
            }

        }
    }
}