$text-color: #fff;

.main-skills{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg,#02aab0,#00cdac);
    padding-top: 70px;

    .top-skills{
        display: flex;
        justify-content: center;

        h2{
            color: $text-color;
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .bottom-skills{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 175px;
        padding-top: 25px;
        @media (max-width: 880px) {    
            flex-direction: column;
        }

        .image{
            display: flex;
            width: 50%;
            text-align: center;
            position: relative;
            justify-content: center;
            
            .burger{
                position: relative;
                height: 315px;
                width: 340px;
                @media (max-width: 475px) {
                    height: 300px;
                    width: 290px;
                }
            }

            .elements{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
              
            .pre-ele1{
                width: 340px;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 475px) {
                    height: 115px;
                    width: 290px;
                }
            }
              
            .element1{
                width: 340px;
                height: 130px;
                @media (max-width: 475px) {
                    height: 125px;
                    width: 290px;
                }
            }
              
            .pre-ele2{
                width: 340px;
                height: 110px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                @media (max-width: 475px) {
                    width: 105px;
                    width: 290px;
                }
            }

            .element2{
                width: 340px;
                height: 110px;
            }
              
            .pre-ele3{
                width: 340px;
                height: 75px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 475px) {
                    width: 70px;
                    width: 290px;
                }
            }

            .element3{
                width: 340px;
                height: 75px;
            }       
        }

        .resume-burger{
            width: 50%;
            display: flex;
            align-self: start;
            flex-direction: column;
            color: white;
            animation-name: aparecer-res;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            font-weight: 400;
            @media (max-width: 880px) {
                align-self: center;
                margin-top: 90px;
                text-align: center;
            }
            @media (max-width: 680px) { 
                width: 70%;
            }
            @media (max-width: 580px) { 
                width: 85%;
            }
            @keyframes aparecer-res {
                from { opacity: 0; transform: translateX(-40px); }
                to { opacity: 1; transform: translateY(0); }
            }
            
            .text{
                font-size: 25px;
            }

            .text-select{
                margin-top: 25px;
                font-size: 19px;
            }
        }

        .tools-burger{
            display: flex;
            align-self: start;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            
            animation-name: aparecer-fav;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
            @media (max-width: 880px) {    
                margin-top: 90px;
                align-self: center;
            }
            @keyframes aparecer-fav {
                from { opacity: 0; transform: translateX(70px); }
                to { opacity: 1; transform: translateY(0); }
            }
            
            .end{
                font-size: 27px;
                padding: 18.5px 0;
                text-align: center;
                color: white;
                margin-right: 130px;
                @media (max-width: 880px) {    
                    margin-right: 0;
                }
            }

            .top-fav{
                display: flex;
                flex-direction: column;
                margin-right: 130px;
                @media (max-width: 880px) {    
                    margin-right: 0;
                }
        
                .text-select-all{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    gap: 20px;

                    .common-box{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: white;

                        .div-icon{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 70px;

                            .jav{
                                width: 70px;
                            }

                            .react{
                                height: 58px;
                            }

                            .redux{
                                height: 58px;
                            }

                            .html{
                                width: 70px;
                            }

                            .css{
                                width: 70px;
                            }

                            .express{
                                height: 55px;
                                width: 55px;
                            }

                            .node{
                                height: 54px;
                                width: 50px;
                            }

                            .mysql{
                                height: 55px;
                                width: 55px;
                            }

                            .mongodb{
                                height: 50px;
                                width: 50px;
                            }

                            .restfulapi{
                                height: 55px;
                                width: 55px;
                            }

                            .strapi{
                                height: 50px;
                                width: 50px;
                            }

                            .git{
                                height: 55px;
                                width: 55px;
                            }

                            .heroku{
                                height: 54px;
                                width: 50px;
                            }

                            .oauth{
                                height: 55px;
                                width: 55px;
                            }

                            .vercel{
                                height: 50px;
                                width: 50px;
                            }

                            .netlify{
                                height: 55px;
                                width: 55px; 
                            }
                        }

                        .common-name{
                            text-align: center;
                            height: 30px;
                            width: 90px;
                        }
                    }
                }
            }  
        }    
    }
}

.hidden {
    visibility: hidden;
}

